<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestTaskEpam" parallel="classes" thread-count="2" verbose="3">
    <test name="TaskEpam">
        <classes>
            <class name="EPAM.tasks.CheckDomain" />
            <class name="EPAM.tasks.CheckTitle" />
        </classes>
    </test>
</suite>


